* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: monospace;
}

body {
  background-color: #91C8E4;
}
body .text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: white;
  margin-top: 150px;
  height: 40px;
}
body .text span {
  margin: auto 0;
  color: #4682A9;
  font-size: 18px;
}
body .container {
  margin: 30px auto;
  padding: 20px 13px;
  width: 550px;
  background-color: #fff;
  border-radius: 10px;
}
body .container .top__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
  margin-bottom: 50px;
}
body .container .top__inner .input {
  width: 450px;
  height: 30px;
  padding: 5px;
  outline: 0;
  border: 2px solid #4682A9;
  border-radius: 5px;
  font-size: 16px;
}
body .container .top__inner .select-btn {
  width: 100px;
  cursor: pointer;
  color: white;
  background-color: #75C2F6;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  outline: 0;
}
body .container .top__inner .select-btn:hover {
  background-color: white;
  color: #75C2F6;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
body .container .top__inner .select-btn:active {
  background-color: #75C2F6;
  color: white;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
body .container .bottom__inner .bottom__inner-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  border: 2px solid #4682A9;
  margin: 0 0 6px 0;
  padding: 5px;
}
body .container .bottom__inner .bottom__inner-text .inner-text__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  height: 100%;
}
body .container .bottom__inner .bottom__inner-text .inner-text__buttons .inner__buttons-delete {
  color: white;
  background-color: red;
  width: 70px;
  height: 25px;
  cursor: pointer;
  border-radius: 5px;
  border: none;
  outline: 0;
}
body .container .bottom__inner .bottom__inner-text .inner-text__buttons .inner__buttons-delete:hover {
  background-color: white;
  color: red;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
body .container .bottom__inner .bottom__inner-text .inner-text__buttons .inner__buttons-delete:active {
  background-color: red;
  color: white;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
body .container .bottom__inner .bottom__inner-text .inner-text__buttons .inner__buttons-edit {
  color: white;
  background-color: green;
  width: 70px;
  height: 25px;
  cursor: pointer;
  border-radius: 5px;
  border: none;
  outline: 0;
}
body .container .bottom__inner .bottom__inner-text .inner-text__buttons .inner__buttons-edit:hover {
  background-color: white;
  color: green;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
body .container .bottom__inner .bottom__inner-text .inner-text__buttons .inner__buttons-edit:active {
  background-color: green;
  color: white;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
body .container .bottom__inner .bottom__inner-text .textTodo {
  cursor: pointer;
  font-size: 16px;
}
body .container .bottom__inner .bottom__inner-text .crossOut {
  text-decoration: line-through;
}